PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/velozity_db?schema=public"
JWT_ACCESS_SECRET="velozity_super_secret_access_key_2026_x9k2l1m4"
JWT_REFRESH_SECRET="velozity_super_secret_refresh_key_2026_q8w3e7r1"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:5173"
